*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

footer{
    max-width: 100%;

   
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    max-width: 100% ;
    height: auto;
    margin: auto !important;
    padding: 40px 5px ;
}

.container-body{
    display: flex;
    max-width: 1100px;
    margin: auto;
    height: auto;
    height: 100%;
    justify-content: space-between;
    /* border: 1px red solid; */
}

.colum1{
    max-width: 400px;
    /* border: 1px green solid; */
    /* margin: 5px 20px 5px 0px ;
    padding: 10px; */
}

.colum1 h1{
    font-size: 22px;
    
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    /* border: 1px green solid; */
    /* margin: 5px 20px 5px 0px ;
    padding: 10px; */
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}
.row a{
   text-decoration: none;
    color: #C7C7C7;
}


.colum3{
    max-width: 400px !important;
    /* border: 1px green solid; */
    /* padding: 10px; */
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 180px;
}
.row2 a{
   text-decoration: none;
    color: #C7C7C7;
}


.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 22px;
}

.copyright{
    color: #C7C7C7;
    padding-right: 10px;
    margin-right: 10px ;
    /* border: 1px red solid; */
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1300px){
    
    .container-body{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .colum1{
       
        /* border: 1px green solid; */
        margin: 5px 50px 5px 0px ;
        padding: 20px;
    }
    .colum2{
        
        /* border: 1px green solid; */
        margin: 5px 50px 5px 0px ;
        padding: 20px;
    }
    .colum3{
        
        /* border: 1px green solid; */
        margin: 5px 50px 5px 0px ;
        padding: 20px;
    }
    
    
}

@media screen and (max-width: 1056px){
    .colum1{
       
        /* border: 1px green solid; */
        margin: 5px 15px 5px 0px ;
        padding: 10px;
    }
    .colum2{
        
        /* border: 1px green solid; */
        margin: 5px 15px 5px 0px ;
        padding: 10px;
    }
    .colum3{
        
        /* border: 1px green solid; */
        margin: 5px 45px 5px 0px ;
        padding: 5px;
    }
}
@media screen and (max-width: 680px){
    
    
    .colum1, .colum2, .colum3 h1{
        text-align: center;
        
        /* border: 1px green solid; */
    }
    .colum3{
        max-width: 100%;
        /* border: 1px green solid; */
    }
    .row2{
        margin-top: 20px;
        padding: 5px;
        min-width: 350px;
        display: flex;
    }
   

  
}
@media screen and (max-width: 400px){
    .row2 label{
        font-size: 14px ;
      }
      .row2{
        margin-top: 20px;
        padding: 5px;
        min-width: 310px;
        display: flex;
    }
    .colum1{
        max-width: 400px;
       
        margin: 5px 20px 5px 0px ;
        padding: 10px;
    }
    .colum2{
        max-width: 400px;
        margin: 5px 20px 5px 0px ;
        padding: 10px;
    }
    
}













