
/* 1 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
header{
    
    width: 100%;
    position: absolute;
    top: 0;
	z-index: 2;
}


header .brand{
  display: flex;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  height: 100px;
  width: 250px;
  z-index: 997; 
  /* background-image: url(/img/logo.svg);
  background-size: cover;
  border: 5px green solid; */
  
}
.logo{
  /* tamaño de svg */
  
  display: flex;
  height: 73px;
  width: 200px;
  margin-top: 5px;
  
  
  /* border: 2px red solid; */
  /* background-image: url(/img/logo.png);
  background-size: cover; */
  z-index: 996;
 
}


#logo:hover{
    color: #eef9ff; /* white */
}
#logo-s{
	color: #eef9ff; /* white */
	margin-left: 5px;
}
#logo:hover #logo-s{
	color: #00a7ff; /* blue */
}

.act{
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 6px 15px;
}

/* /1 */

/* 2 */
.slider{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
}
.myslide{
	height: 455px;
	display: none;
	overflow:hidden;
	/* border: 2px red solid; */
	
	
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.img-slider{
	object-fit: cover;

	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */
/* Galeria ccs GRID */
.title-gallery{
	margin: auto;
	text-align: center;
	font-weight: 600;
	color: var(--Azul-Logar);
	
}
.gallery-container{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: 250px;
	padding: 20px;
	gap: 10px;
}
.gallery_item{
position: relative;
}
.gallery_item h2{
font-size: 18px;
font-weight: 400;
padding: 5px;
}
.gallery_img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery_title{
	position: absolute;
	bottom: 0;
	
	color: white;
	background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
	width: 100%;
	margin: 0;
}

.gallery_item:nth-child(3){
	grid-column-start: span 2;
}

.gallery_item:nth-child(4){
	grid-column-start: span 2;
}
.gallery_item:nth-child(5){
	grid-row-start: span 1;
}
.gallery_item:nth-child(6){
	grid-column-start: span 1;
}
.gallery_item:nth-child(9){
	grid-column-start: span 2;
}
/* Fin de Galeria css GRID */


/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}
	.gallery-container{	
		grid-auto-rows: 200px;		
		grid-template-columns: repeat(3,1fr);
		gap: 8px;
	}
	.gallery_item:nth-child(3){
		grid-column-start: span 1;
	}

	.gallery_item:nth-child(4){
		grid-column-start: span 3;
	}
	.gallery_item:nth-child(5){
		grid-row-start: span 1;
	}
	.gallery_item:nth-child(6){
		grid-column-start: span 2;
	}
	.gallery_item:nth-child(9){
		grid-column-start: span 1;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
	.gallery-container{	
		grid-auto-rows: 150px;		
		gap: 6px;
	}


}
/* /6 */
















